include ./tpl/_parts
include ./tpl/_header
- var text = 657658765;
html
  head
    mixin meta(test,"aaa/index")
    script(src='/gdir/public/js/min/main.js')

    title #{test["catTop"].title}
    - var  v = 8546776;
  body
    header
      div#container
      div.main
        ul
         li a
         li #{text}
         li 
          img(src="./")

      div#sub
        .inner
        ul
          each val in ["Top", "About", "Works", "Contact","hh","Top",v,v]
            if val === "About" || v
              li.cr
                a(href="#")
                  div= val

            else
              li
                a(href="#")
                  div= val         
    footer
    script(src='/gdir/public/jsx/min/main.js')
    script.
      var j = document.getElementsByTagName("img")[0]
      //j.addEventListener("load", alert(4765));

      console.log(document.getElementsByTagName("img"));

